<section>
    <div class="container">
        <table class="table mt-5">
            <thead>
                <tr>
                    <th>Item</td>
                    <th>Title</td>
                    <th>Price</th>
                    <th>Quantity</td>
                </tr>
            </thead>
            <tbody>
                {{#each products}}
                <tr>
                    <td><img style="width: 70px;height: 70px;" src="/product-images/{{this.products._id}}.jpg" alt=""></td>
                    <td>{{this.products.Name}}</td> 
                    <td>Rs.{{this.products.Price}}</td>
                    <td>
                        <button name="btnp" class="cart-items-count mr-3" onclick="changeQuantity('{{this._id}}','{{this.products._id}}',-1)">-</button>
                        <span id= "{{this.products._id}}">{{this.quantity}}</span>
                        <button class="cart-items-count ml-3" onclick="changeQuantity('{{this._id}}','{{this.products._id}}',1)">+</button>
                    </td>
                    <td>
                        <a href="" onclick="removeProduct('{{this._id}}','{{this.products._id}}')" class="btn btn-danger">Remove</a>
                    </td>
                {{/each}}
                </tr>   
            </tbody>
        </table>
        <hr>
        <div class="float-right mr-5">
            <h3 class="float-right mr-5 ">Total: RS. 60000</h3><br>
            <a href="/place-order" class="float-right btn btn-success mt-3" style="width: 100%;"><b>Place Order</b></a>
        </div>
    </div>
</section>
<script>
   
</script>